@import 'https://fonts.googleapis.com/css?family=Playfair+Display:700i&subset=cyrillic';

@font-face {
  font-family: 'Circe Light';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Circe-Light.eot');
  src:
    url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Circe-Regular.eot');
  src:
    url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Circe-Bold.eot');
  src:
    url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Extra Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Circe-ExtraBold.eot');
  src:
    url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circe-ExtraBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;

  outline: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Circe Regular', sans-serif;
}

p {
  margin: 0;
}

h1 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 5.4rem;
}

h2 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
}

h3 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 3.5rem;
}

h4 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  color: black;
}

.p15 {
  font-size: 1.5rem;
}

.p-heading {
  font-size: 2.2rem;
}

.button {
  display: block;
  margin: 0 auto;

  font-family: 'Circe Bold', sans-serif;

  border-radius: 50px;
}

.button-transparent {
  display: block;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  color: #c51abb;

  background-color: transparent;
  border: 2px solid #c51abb;
}

.button-transparent::before {
  position: relative;
  top: 3px;
  right: 2px;

  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;

  background: url('../img/camera.svg') no-repeat center;
  background-size: 100%;

  content: '';
}

.button-order {
  position: relative;

  display: block;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  color: #fff;

  background-color: transparent;
  background-image: linear-gradient(66deg, #a12ab1 0%, #c818bc 100%);
  border: 2px solid #c51abb;
  box-shadow: 0 15px 30px 0 rgb(170 38 183 / 39%);
}

.fixed-gift {
  position: fixed;
  top: 4rem;
  right: 2rem;
  z-index: 19;

  display: inline;

  cursor: pointer;
}

.header .container {
  padding: 0;
}

.header .burger {
  margin-right: -1rem;
  padding: 2rem 1.5rem;

  font-family: 'Circe Bold', sans-serif;
  font-size: 1.5rem;
  color: #fff;

  background-color: #c51abb;
  border: none;

  cursor: auto;
}

.header .burger img {
  position: relative;
  top: -2px;

  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.header-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-menu-sub {
  position: absolute;

  display: none;
}

.header-menu > li:hover .header-menu-sub {
  display: block;
}

.header-menu .header-menu-sub li {
  display: block;
}

.header-menu .header-menu-sub li a::after {
  display: none;
}

.header-menu li {
  display: inline-block;
  padding: 2rem 1.5rem;
  padding-right: 3rem;

  font-size: 1.5rem;
}

.header-menu li a {
  color: inherit;
}

.header-menu li a::after {
  display: inline-block;
  width: 1.2rem;
  height: 1rem;
  margin-left: 0.7rem;

  background-image: url('../img/down-arrow.svg');
  background-size: 100%;

  content: '';
}

.header-menu li a:hover {
  text-decoration: none;
  color: inherit;
}

.header .button-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 6rem;
}

.header .button-order {
  display: inline-block;
  padding: 1.4rem 3rem;

  box-shadow: none;
}

.header .button-order img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.header .burger-menu {
  position: absolute;
  z-index: 10;

  display: none;
  width: 20rem;
  margin: 0;
  padding: 0;

  background-color: #fff;

  list-style: none;
}

.header .burger-menu li {
  padding: 2rem;
}

.header .burger-menu li:hover {
  background-color: #eed4d2;
}

.header .burger-menu li a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding-top: 3rem;

  background-color: #f7e7e6;
}

.main .file_upload {
  position: relative;

  height: 4em;

  font-size: 1em;
  line-height: 2em;

  overflow: hidden;
}

.main .file_upload > button {
  float: right;
  width: 8em;
  height: 100%;
}

.main .file_upload > div {
  padding-left: 1em;
}

.main .file_upload input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* -ms-transform: scale(20); Removed: IE9 not supported in 2025 */

  font-size: 0; /* Replaced letter-spacing for better clarity */

  opacity: 0;

  cursor: pointer;

  transform: scale(20);
}

.main .file_upload > button {
  display: block;
  padding: 1.5rem;

  font-size: 1.5rem;
  color: #c51abb;

  background-color: transparent;
  border: 2px solid #c51abb;
  border-radius: 50px;

  overflow: hidden;
  transition: background 0.2s;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .file_upload > button::before {
  position: relative;
  top: 3px;
  right: 2px;

  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;

  background: url('../img/camera.svg') no-repeat center;
  background-size: 100%;

  content: '';
}

.main .logo {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #c51abb;
}

.main .logo-p {
  max-width: 20rem;

  font-family: 'Circe Light', sans-serif;
  font-size: 1.5rem;
}

.main .email {
  margin-top: 1.5rem;

  text-align: center;
}

.main .email a {
  text-decoration: underline;
  color: inherit;
}

.main .phone {
  margin: 0;
  margin-top: 1.5rem;

  font-family: 'Circe Bold', sans-serif;
  font-size: 2.5rem;
  text-align: right;
}

.main .phone::before {
  position: relative;
  top: 3px;
  right: 10px;

  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;

  background: url('../img/24-hours.svg') no-repeat center;
  background-size: 100%;

  content: '';
}

.main .phone-whatsapp {
  margin: 0;
  margin-top: 1.5rem;

  font-size: 1.8rem;
  text-align: right;
}

.main .phone-whatsapp .icons {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.main .p-heading-italic {
  margin-top: 9rem;

  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
}

.main h1 {
  margin: 3rem 0 7rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 5.4rem;
  text-align: center;
}

.main-features {
  position: relative;

  margin-left: 3rem;

  font-family: 'Circe Light', sans-serif;
  font-size: 1.5rem;
}

.main-features img {
  position: absolute;
  top: 1rem;
  left: -4rem;

  width: 2rem;
  height: 2rem;
}

.main .p-button {
  margin: 7rem 0 3rem;

  font-family: 'Circe Regular', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #c51abb;
}

.main .button-order {
  margin-bottom: 7rem;
  padding: 1.5rem 4rem;
}

.main-slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  width: 3rem;
  height: 3rem;
  padding: 0;

  background-color: transparent;
  border: none;

  transform: translateY(-50%);
}

.main-slider-btn img {
  width: 100%;
}

.main-prev-btn {
  left: 0;
}

.main-next-btn {
  right: 0;
}

.button-order-img {
  position: absolute;
  top: -1rem;
  right: -8rem;
}

.slick-slide img {
  max-width: 100%;
}

.slick-active {
  outline: none;
}

.promo {
  position: relative;

  padding: 10rem 0 9rem;
}

.promo-img {
  position: relative;
  left: -6rem;

  max-width: 100%;
}

.promo p {
  margin-top: 6rem;

  font-size: 2.2rem;
}

.promo h2 {
  margin: 4rem 0 6rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  line-height: 6rem;
}

.promo .button-order {
  margin: 0;
  padding-right: 4rem;
  padding-left: 4rem;
}

.promo .p-heading {
  margin-top: 2.5rem;
  margin-bottom: 3rem;

  font-size: 2.2rem;
}

.promo .palette {
  position: absolute;
  right: 0;
  bottom: -10rem;

  max-width: 30%;
}

.styles {
  position: relative;
}

.styles .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.styles h2 {
  margin-bottom: 8rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.styles-block {
  margin-bottom: 3rem;
  padding: 3rem;

  background-color: #f7e7e6;
}

.styles-block img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.styles-block img:hover {
  box-shadow:
    0 14px 28px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 22%);
}

.styles-block h4 {
  margin-top: 2rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: black;
}

.styles-block a {
  display: block;

  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  color: #c51abb;
}

.styles .button-transparent {
  margin-top: 8rem;
  margin-bottom: 6rem;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  color: #c51abb;

  background-color: transparent;
  border: 2px solid #c51abb;
}

.styles .button-transparent::before {
  margin-right: 1rem;

  background: url('../img/reload.svg') no-repeat center;
  background-size: 100%;

  content: '';
}

.styles .paints {
  position: absolute;
  bottom: -25rem;
  left: 0;
}

.card-block {
  padding-top: 7rem;

  background-color: #f7e7e6;
}

.card-block h3 {
  margin-top: 3rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 3.5rem;
}

.card-block .p-heading {
  margin: 4.5rem 0 6.5rem;

  font-size: 2.2rem;
}

.card-block img {
  max-width: 100%;
}

.card-block .button-order {
  margin: 0;
}

.card-block-text {
  margin-left: -6rem;
}

.calc {
  padding: 8rem 0 4rem;
}

.calc h2 {
  margin-bottom: 9rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.calc .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.calc h4 {
  margin-bottom: 3rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.calc select {
  display: block;
  margin-left: 4rem;
  padding: 2rem 0;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.9rem;

  border: none;
  opacity: 0.6;

  appearance: none;
}

.calc .promocode {
  display: block;
  margin-left: 4rem;
  padding: 2rem 0;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.9rem;

  border: none;
  opacity: 0.6;

  appearance: none;
}

.calc #size {
  margin-top: 3rem;
}

.calc-price {
  position: relative;
  z-index: -1000;

  width: 100%;
  margin: 0;
  padding: 4rem 7.5rem;

  text-align: center;

  background-color: #f7e7e6;
}

.calc .button-order {
  margin-top: 6rem;
  padding-right: 8rem;
  padding-left: 8rem;
}

.calc-text {
  margin-right: -2rem;
  margin-left: 2rem;

  text-align: justify;
}

.calc .file_upload {
  position: relative;

  height: 4em;

  font-size: 1em;
  line-height: 2em;

  overflow: hidden;
}

.calc .file_upload > button {
  float: right;
  width: 8em;
  height: 100%;
}

.calc .file_upload > div {
  padding-left: 1em;
}

.calc .file_upload input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* -ms-transform: scale(20); Removed: IE9 not supported in 2025 */

  font-size: 0; /* Replaced letter-spacing for better clarity */

  opacity: 0;

  cursor: pointer;

  transform: scale(20);
}

.calc .file_upload > button {
  display: block;
  padding: 1.5rem;

  font-size: 1.5rem;
  color: #c51abb;

  background-color: transparent;
  border: 2px dashed #c51abb;
  border-radius: 50px;

  overflow: hidden;
  transition: background 0.2s;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.calc .file_upload > button::before {
  position: relative;
  top: 3px;
  right: 2px;

  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;

  background: url('../img/camera.svg') no-repeat center;
  background-size: 100%;

  content: '';
}

.portfolio {
  padding-top: 8rem;
}

.portfolio h2 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.portfolio .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: 6rem;
  margin-bottom: 5rem;
  padding: 0;

  list-style: none;
}

.portfolio ul li {
  display: inline-block;
  padding: 1rem 2rem;

  font-size: 2rem;

  cursor: pointer;
}

.portfolio ul .active {
  font-size: 2rem;
  color: #c51abb;

  border: 1px solid #c51abb;
  border-radius: 50px;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-block {
  width: 20%;
  padding: 0.5rem;
}

.portfolio-block img {
  max-width: 100%;
}

.portfolio-block img:hover {
  box-shadow:
    0 14px 28px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 22%);
}

.portfolio-no {
  display: none;
  margin: 15rem 0;

  font-size: 3rem;
  text-align: center;
}

.gift {
  background: url('../img/gift-bg.jpg') no-repeat center;
  background-size: cover;
}

.gift .p-heading {
  margin-top: 9rem;

  font-size: 2.2rem;
}

.gift-text {
  margin: 6rem 0 9rem;

  font-size: 1.8rem;
}

.gift h4 {
  position: relative;

  display: inline-block;
  margin-bottom: 8rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: black;
}

.gift img {
  position: absolute;
  top: -4.5rem;
}

.gift-img-1 {
  top: -3.5rem;
  left: -3rem;
}

.gift-img-2 {
  left: -4rem;
}

.gift-img-3 {
  left: -3rem;
}

.features {
  padding: 10rem 0;
}

.features h2 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.features .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.features h4 {
  position: relative;

  margin-top: 15rem;
  margin-left: 20rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  color: black;
}

.features img {
  position: absolute;
  top: -11rem;
  left: -11rem;
}

.features .features-img-2 {
  left: -12rem;
}

.features .features-img-3 {
  left: -10rem;
}

.features .features-img-5 {
  left: -16rem;
}

.features .features-img-6 {
  left: -15rem;
}

.sizes {
  padding: 9rem 0 20rem;

  background: url('../img/sizes-bg.jpg') no-repeat center;
  background-size: cover;
}

.sizes h2 {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.sizes .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.sizes-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 9rem;
}

.sizes-wrapper-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sizes-block {
  position: relative;
}

.sizes-block img {
  max-width: 100%;
}

.sizes-block p {
  position: absolute;

  width: 100%;

  text-align: center;
}

.sizes-block .size {
  top: 3rem;

  font-family: 'Circe Bold', sans-serif;
  font-size: 2.4rem;
  color: #86b7d2;
}

.sizes-block .starting-price {
  bottom: 7rem;

  text-decoration: line-through;
}

.sizes-block .final-price {
  bottom: 4rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  color: black;
}

.sizes-block .sizes-hit {
  position: absolute;
  bottom: -2.5rem;
  left: 6rem;

  display: inline-block;
  padding: 1.5rem 2rem;

  font-family: 'Circe Bold', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;

  background-color: #f99300;
}

.scheme {
  padding-top: 9rem;
}

.scheme h2 {
  margin-bottom: 9rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.scheme .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.scheme-block {
  height: 35rem;
}

.scheme-block img {
  display: block;
  margin: 0 auto;
}

.scheme-block p {
  margin-top: 2rem;

  font-size: 1.7rem;
  text-align: center;
}

.card-2 {
  margin-bottom: 4rem;
}

.card-2 .container .p-heading {
  margin: 2.5rem 0 3.5rem;

  font-size: 2.2rem;
}

.card-3 .card-block-text {
  margin-left: 0;
}

.card-3 .card-block {
  padding-top: 3rem;
}

.card-3 .card-block .p-heading {
  margin: 3rem 0 4rem;

  font-size: 2.2rem;
}

.card-3 .card-block-text {
  padding-top: 4rem;
}

.promo-2 {
  padding: 9rem 0 10rem;
}

.promo-2-block {
  margin-left: 10rem;
}

.promo-2-block .p-heading {
  margin-top: 5rem;

  font-size: 2.2rem;
}

.promo-2-block .button-order {
  margin: 6rem 0 4rem;
}

.promo-2 img {
  position: relative;
  right: -10rem;

  max-width: 100%;
}

.feedback {
  padding: 9rem 0;

  background-color: #f7e7e6;
}

.feedback-slider {
  overflow: hidden;
}

.feedback-slider-item {
  z-index: 99;

  padding-bottom: 5rem;
}

.feedback-block {
  position: relative;
}

.feedback-block .button-order {
  position: absolute;
  bottom: -3rem;
  left: 15rem;
  z-index: 19;
}

.feedback-block .button-order::before {
  position: relative;
  top: 0.4rem;

  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;

  background-image: url('../img/heart.png');
  background-size: 100%;

  content: '';
}

.feedback-heading {
  margin-top: 4rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
}

.feedback-text {
  margin: 3rem 0;

  text-align: center;
}

.feedback-signature {
  text-align: center;
}

.feedback-signature span {
  font-family: 'Circe Extra Bold', sans-serif;
}

.feedback .slick-slide img {
  position: relative;
  left: 5rem;
}

.often-questions {
  position: relative;

  padding: 10rem 0 8rem;
}

.often-questions h2 {
  margin-bottom: 10rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.often-questions .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.often-questions .accordion-heading {
  margin-top: 2rem;
  margin-bottom: 4rem;

  font-size: 2.2rem;
  text-align: center;

  cursor: pointer;
}

.often-questions p.active-slyle span {
  font-weight: 900;
  text-decoration: none;
  color: #e950d7;

  border: 0;
}

.often-questions .accordion-heading.active + .accordion-block {
  display: block;
}

.often-questions .accordion-heading span {
  border-bottom: 2px dotted #333;
}

.often-questions .accordion-block {
  max-height: 0;

  background-color: #f7e7e6;

  opacity: 0;

  overflow: hidden;

  transition: all 0.3s ease-out;
}

.often-questions .accordion-block.active-content {
  margin-top: 1rem;
  padding: 3rem 4rem;

  opacity: 1;

  overflow: visible;
}

.often-questions .accordion-block::before {
  position: absolute;
  top: -6rem;
  left: 50%;

  border: 3rem solid transparent;
  border-bottom: 3rem solid #f7e7e6;

  content: '';
  transform: translateX(-50%);
}

.often-questions .ui-accordion-header-active {
  margin-bottom: 0;

  color: #c51abb;

  cursor: auto;
}

.often-questions .ui-accordion-header-active span {
  border-bottom: none;
}

.often-questions .ui-accordion-content-active {
  margin-bottom: 4rem;
}

.often-questions .brushes {
  position: absolute;
  right: 5%;
  bottom: 0;
}

.often-questions .spirt {
  position: absolute;
  top: -25rem;
  left: 0;
}

.promo-3 {
  padding: 8rem 0;

  background-color: #f7e7e6;
}

.consultation {
  padding: 10rem 0;

  background-color: #eed4d2;
}

.consultation h2 {
  margin-bottom: 8rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.consultation .p-heading {
  font-size: 2.2rem;
  text-align: center;
}

.consultation .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.consultation input {
  width: 30%;
  margin-bottom: 3rem;
  padding: 1.5rem 4rem;

  border: none;
  border-radius: 50px;
}

.consultation input::placeholder {
  font-family: 'Circe Bold', sans-serif;
  text-align: center;
  color: black;
}

.consultation .input-text {
  display: block;
  width: 100%;
}

.consultation .button-order {
  margin-top: 1rem;
}

.footer {
  padding: 4rem 0 3rem;
}

.footer th {
  padding: 0.5rem;
  padding-bottom: 2.5rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.6rem;
}

.footer td {
  padding: 0.5rem;
  padding-right: 6rem;

  font-size: 1.3rem;
}

.footer p {
  font-family: 'Circe Bold', sans-serif;
  text-align: right;
  color: #000;
}

.footer p a {
  text-decoration: underline;
  color: inherit;
}

.footer .phone {
  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 2.6rem;
}

.footer .phone-whatsapp {
  margin: 1rem 0;

  font-size: 1.8rem;
}

.footer .modernwebdev {
  margin-top: 1rem;
}

.popup-consultation {
  position: fixed;
  z-index: 20;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgb(178 80 188 / 80%);

  inset: 0;
}

.popup-consultation .button-transparent {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  color: #c51abb;

  background-color: transparent;
  border: 2px dashed #c51abb;
}

.popup-consultation .form {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.popup-consultation .form input,
.popup-consultation .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1.5rem;

  color: inherit;

  background-color: #fff;
  border: none;
  border-radius: 50px;

  resize: none;
}

.popup-consultation .form input::placeholder,
.popup-consultation .form textarea::placeholder {
  font-family: 'Circe Bold', sans-serif;
  text-align: center;
  color: black;
}

.popup-consultation .button-order {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  color: #fff;

  background-color: transparent;
  background-image: linear-gradient(66deg, #a12ab1 0%, #c818bc 100%);
  border: 2px solid #c51abb;
  box-shadow: 0 15px 30px 0 rgb(170 38 183 / 39%);
}

.popup-consultation h4 {
  margin-bottom: 3.5rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  color: black;
}

.popup-gift {
  position: fixed;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgb(178 80 188 / 80%);

  inset: 0;
}

.popup-gift h2 {
  padding-bottom: 2rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 4.5rem;
  text-align: center;
}

.popup-gift img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.popup-gift p {
  margin-top: 2rem;

  font-size: 1.5rem;
}

.popup-design {
  position: fixed;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgb(178 80 188 / 80%);

  inset: 0;
}

.popup-design input[name='name'] {
  margin-top: 2rem;
}

.popup-design .file_upload {
  position: relative;

  height: 4em;

  font-size: 1em;
  line-height: 2em;

  overflow: hidden;
}

.popup-design .file_upload > button {
  float: right;
  width: 8em;
  height: 100%;
}

.popup-design .file_upload > div {
  padding-left: 1em;
}

.popup-design .file_upload input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* -ms-transform: scale(20); Removed: IE9 not supported in 2025 */

  font-size: 0; /* Replaced letter-spacing for better clarity */

  opacity: 0;

  cursor: pointer;

  transform: scale(20);
}

.popup-design .file_upload > button {
  display: block;
  padding: 1.5rem;

  font-size: 1.5rem;
  color: #c51abb;

  background-color: transparent;
  border: 2px dashed #c51abb;
  border-radius: 50px;

  overflow: hidden;
  transition: background 0.2s;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.popup-design .file_upload > button::before {
  position: relative;
  top: 3px;
  right: 2px;

  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;

  background: url('../img/camera.svg') no-repeat center;
  background-size: 100%;

  content: '';
}

.popup-design .form {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.popup-design .form input,
.popup-design .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  color: inherit;

  background-color: #fff;
  border: none;
  border-radius: 50px;

  resize: none;
}

.popup-design .form input::placeholder,
.popup-design .form textarea::placeholder {
  font-family: 'Circe Bold', sans-serif;
  text-align: center;
  color: black;
}

.popup-design .button-order {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  color: #fff;

  background-color: transparent;
  background-image: linear-gradient(66deg, #a12ab1 0%, #c818bc 100%);
  border: 2px solid #c51abb;
  box-shadow: 0 15px 30px 0 rgb(170 38 183 / 39%);
}

.popup-design h4 {
  margin-bottom: 3.5rem;

  font-family: 'Circe Extra Bold', sans-serif;
  font-size: 1.8rem;
  color: black;
}

.popup-close {
  position: absolute;
  top: -5rem;
  right: -1.5rem;

  width: 5rem;
  height: 5rem;

  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
  color: #fff;

  background: transparent;
  border: none;
}

.popup-content {
  position: fixed;
  top: 10%;
  left: 50%;

  max-width: 35rem;
  padding: 3rem 6rem 4rem;

  text-align: center;

  background-color: #ededed;
  border-radius: 4px;

  transform: translateX(-50%);
}

.status {
  text-align: center;
}

.pageup {
  position: fixed;
  right: 5%;
  bottom: 100px;
  z-index: 30;

  width: 26px;
  height: 26px;

  background-color: #fff;
  border: 1px solid white;
  opacity: 0;

  cursor: pointer;
  transition: 1s all;
}

@media (width <= 1399px) {
  .paints {
    display: none;
  }

  .calc .file_upload > div,
  .popup-design .file_upload > div,
  .main .file_upload > div {
    display: none;
  }

  .calc .file_upload > button,
  .popup-design .file_upload > button,
  .main .file_upload > button {
    width: 100%;
  }
}

@media (width <= 1199px) {
  .fixed-gift {
    display: none;
  }

  .header .burger {
    padding: 2.1rem 1rem;

    font-family: 'Circe Bold', sans-serif;
    font-size: 1.3rem;
    color: #fff;

    background-color: #c51abb;
    border: none;

    cursor: auto;
  }

  .header .burger img {
    width: 1rem;
    height: 1rem;
  }

  .header-menu li {
    padding: 2rem 1rem;

    font-size: 1.4rem;
  }

  .header .button-order {
    padding: 1rem 2rem;

    font-size: 1.3rem;

    box-shadow: none;
  }

  .main h1 {
    margin-top: 2rem;
    margin-bottom: 5rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 4.5rem;
    text-align: center;
  }

  .main .p-heading {
    margin-top: 3rem;

    font-size: 2.2rem;
  }

  .main .p-button {
    margin-top: 4rem;

    font-family: 'Circe Regular', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #c51abb;
  }

  .main .button-order {
    margin-bottom: 3rem;
    padding: 1.5rem 4rem;
  }

  .promo-img {
    left: 0;

    max-width: 100%;
  }

  .promo h2 {
    margin: 4rem 0 6rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .card .p-heading {
    margin: 3rem 0 4rem;

    font-size: 2.2rem;
  }

  .gift-img-1,
  .gift-img-3 {
    left: -4.5rem;
  }

  .gift-img-2 {
    left: -5.5rem;
  }

  .features h4 {
    margin-left: 15rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 1.8rem;
    color: black;
  }

  .sizes-block .sizes-hit {
    bottom: -2.7rem;
    left: 4.8rem;

    display: inline-block;
    padding: 1.5rem 2rem;

    font-family: 'Circe Bold', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;

    background-color: #f99300;
  }

  .card-2 img {
    max-width: 100%;
    margin-top: 2rem;
  }

  .card-3 .card-block-text {
    padding-top: 2rem;
  }

  .promo-2 .p-heading {
    margin-top: 0;

    font-size: 2.2rem;
  }

  .promo-2 .button-order {
    margin: 3rem 0 4rem;
  }

  .promo-2 img {
    right: 0;

    max-width: 100%;
  }

  .feedback-slider-item {
    z-index: 99;

    padding-bottom: 7rem;
  }

  .feedback-heading {
    margin-top: 0;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
  }

  .often-questions .brushes {
    display: none;
  }

  .often-questions .spirt {
    top: -25rem;

    height: 50rem;
  }

  .footer .phone {
    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 2.4rem;
  }

  .footer td {
    padding: 0.5rem;
    padding-right: 2.5rem;

    font-size: 1.3rem;
  }

  .calc-text {
    margin-right: -9rem;

    text-align: justify;
  }
}

@media (width <= 991px) {
  .header .burger {
    padding: 2.1rem 1rem;

    font-family: 'Circe Bold', sans-serif;
    font-size: 1.3rem;
    color: #fff;

    background-color: #c51abb;
    border: none;

    cursor: pointer;
  }

  .header .burger span {
    display: none;
  }

  .header .burger img {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
  }

  .main-features img {
    position: absolute;
    top: 0;
    left: -4rem;

    width: 2rem;
    height: 2rem;
  }

  .main .p-button {
    margin: 7rem 0 3rem;

    font-family: 'Circe Regular', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #c51abb;
  }

  .main h1 {
    margin: 3rem 0 7rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 4.5rem;
    text-align: center;
  }

  .promo p {
    margin-top: 6rem;

    font-size: 2.2rem;
    text-align: center;
  }

  .promo h2 {
    margin: 4rem 0 6rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 4.5rem;
    line-height: 1.1;
    text-align: center;
  }

  .promo .button-order {
    display: block;
    margin: 0 auto;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .promo .palette {
    width: 0;
    height: 0;
  }

  .card-block {
    padding-top: 5rem;

    background-color: #f7e7e6;
  }

  .card h3 {
    margin-top: 3rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 2.5rem;
  }

  .card .p-heading {
    margin: 3rem 0 4rem;

    font-size: 1.5rem;
  }

  .card-1 .p-heading {
    margin: 2rem 0 3rem;

    font-size: 2.2rem;
  }

  .portfolio-block {
    width: auto;
    padding: 0.5rem;
  }

  .gift {
    background: url('../img/gift-bg.jpg') no-repeat center;
    background-size: auto;
  }

  .gift-features h4 {
    margin-bottom: 4rem;
    margin-left: 4rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 1.6rem;
    color: black;
  }

  .gift-features h4 img {
    position: absolute;
    top: -4.5rem;
    left: -6rem;
  }

  .sizes-block .sizes-hit {
    bottom: -2.9rem;
    left: 4rem;

    display: inline-block;
    padding: 1.5rem 2rem;

    font-family: 'Circe Bold', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;

    background-color: #f99300;
  }

  .card-3 .card-block .p-heading {
    margin: 2.5rem 0 3.5rem;

    font-size: 2.2rem;
  }

  .card-3 .card-block-text {
    padding-top: 0;
  }

  .promo-2-block {
    margin-left: 0;
  }

  .promo-2-block h2 {
    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 4.5rem;
    text-align: center;
  }

  .promo-2-block .p-heading {
    margin-top: 5rem;

    font-size: 2.2rem;
    text-align: center;
  }

  .promo-2-block .button-order {
    display: block;
    margin: 4rem auto;
  }

  .promo-2 img {
    position: relative;
    left: -10%;

    max-width: 100%;
  }

  .feedback-heading {
    margin-top: 4rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
  }

  .feedback-text {
    margin: 1rem 0;

    text-align: center;
  }

  .feedback .button-order {
    position: absolute;
    bottom: -3rem;
    left: 11rem;
    z-index: 19;
  }

  .often-questions .spirt {
    display: none;
  }

  .footer .phone-whatsapp {
    margin: 0.5rem 0;

    font-size: 1.8rem;
  }

  .calc select {
    position: relative;
    left: 30%;

    margin-left: 4rem;
    padding: 2rem 0;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 1.9rem;

    border: none;
    opacity: 0.6;

    appearance: none;
  }

  .calc .button-transparent {
    display: block;
    width: auto;
    margin: 4rem auto;
    padding: 1.5rem 2rem;

    font-size: 1.5rem;
    color: #c51abb;

    background-color: transparent;
    border: 2px solid #c51abb;
  }
}

@media (width <= 767px) {
  .main-features {
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Circe Light', sans-serif;
    font-size: 1.5rem;
  }

  .card-block {
    padding: 5rem;

    background-color: #f7e7e6;
  }

  .card-block img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .card-block .button-order {
    display: block;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .card-block-text {
    margin-left: -6rem;
  }

  .card-block-text h3 {
    margin-top: 3rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .card-block-text .p-heading {
    margin: 4.5rem 0 6.5rem;

    font-size: 2.2rem;
    text-align: center;
  }

  .gift {
    background: url('../img/gift-bg.jpg') no-repeat center;
    background-size: cover;
  }

  .gift h3 {
    margin-top: 3rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .gift p {
    margin-top: 6rem;

    font-size: 2.2rem;
    text-align: center;
  }

  .sizes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 9rem;
  }

  .sizes-block .sizes-hit {
    bottom: -2.4rem;
    left: 6rem;

    display: inline-block;
    padding: 1.5rem 2rem;

    font-family: 'Circe Bold', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;

    background-color: #f99300;
  }

  .scheme {
    padding-top: 9rem;
    padding-bottom: 6rem;
  }

  .scheme-block {
    height: 27rem;
  }

  .card-3 {
    padding: 0;
  }

  .card-3 .card-block {
    padding-top: 3rem;
  }

  .card-3 .card-block-text {
    padding: 2rem;
  }

  .card-3 img {
    float: right;
    max-width: 100%;
  }

  .feedback-slider-item {
    z-index: 99;

    padding-bottom: 0;
  }

  .feedback-heading {
    margin-top: 6rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
  }

  .feedback .slick-slide img {
    position: relative;
    left: 0;

    max-width: 100%;
    margin: 0 auto;
  }

  .feedback .button-order {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    z-index: 19;

    width: 18rem;

    transform: translateX(-50%);
  }

  .consultation {
    padding: 6rem 0;

    background-color: #eed4d2;
  }

  .consultation h2 {
    margin-bottom: 3rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 4.5rem;
    text-align: center;
  }

  .consultation input {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1.5rem 4rem;

    border: none;
    border-radius: 50px;
  }

  .footer p {
    font-family: 'Circe Bold', sans-serif;
    text-align: center;
    color: #000;
  }
}

@media (width <= 577px) {
  h2 {
    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .p-heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .main-features {
    max-width: auto;
    margin-left: 20%;

    font-family: 'Circe Light', sans-serif;
    font-size: 1.5rem;
  }

  .main-slider-btn {
    z-index: 10;

    width: 2rem;
    height: 2rem;
    padding: 0;

    background-color: transparent;
    border: none;

    transform: translateY(-50%);
  }

  .main .logo {
    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: #c51abb;
  }

  .main .logo-p {
    display: none;
    max-width: 20rem;

    font-family: 'Circe Light', sans-serif;
    font-size: 1.5rem;
  }

  .main .phone {
    margin: 0;
    margin-bottom: 0;

    font-family: 'Circe Bold', sans-serif;
    font-size: 1.5rem;
    text-align: right;
  }

  .main .phone::before {
    position: relative;
    top: 3px;
    right: 10px;

    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;

    background: url('../img/24-hours.svg') no-repeat center;
    background-size: 100%;

    content: '';
  }

  .main .phone-whatsapp {
    margin: 0;
    margin-top: 1.5rem;

    font-size: 1.3rem;
    text-align: right;
  }

  .main .phone-whatsapp .icons {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
  }

  .main .button-order-img {
    position: absolute;
    top: -1rem;
    right: -4rem;
  }

  .promo {
    padding: 5rem 0;
  }

  .promo h2 {
    margin: 3rem 0;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    line-height: 1.1;
    text-align: center;
  }

  .promo p {
    margin-top: 3rem;

    font-size: 1.5rem;
    text-align: center;
  }

  .promo .button-order {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .styles .p-heading {
    margin-top: 4rem;

    font-size: 1.5rem;
    text-align: center;
  }

  .styles h2 {
    margin-bottom: 4rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .styles .button-transparent {
    margin-top: 2rem;
    padding: 1.5rem 2rem;

    font-size: 1.5rem;
    color: #c51abb;

    background-color: transparent;
    border: 2px solid #c51abb;
  }

  .card-block {
    padding: 2rem;

    background-color: #f7e7e6;
  }

  .portfolio-block {
    width: auto;
    padding: 0.5rem;
  }

  .portfolio ul {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0;

    list-style: none;
  }

  .portfolio .portfolio-no {
    display: none;
    margin: 15rem 0;

    font-size: 2rem;
    text-align: center;
  }

  .gift-text {
    margin: 5rem 0;

    font-size: 1.8rem;
  }

  .gift .p-heading {
    margin-top: 5rem;

    font-size: 2.2rem;
    text-align: center;
  }

  .features {
    padding: 7rem 0;
  }

  .features h4 {
    margin-left: 11rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 1.8rem;
    color: black;
  }

  .features .features-img-6 {
    position: absolute;
    top: -11rem;
    left: -14rem;
  }

  .sizes {
    padding: 9rem 0 5rem;

    background-color: #abd0e3;
    background-image: none;
  }

  .sizes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
  }

  .sizes-wrapper-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .sizes-block:nth-child(3) {
    margin-bottom: 3rem;
  }

  .scheme h2 {
    margin-bottom: 4rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .card-3 {
    padding: 0;
  }

  .promo-2 {
    padding: 5rem 0;
  }

  .feedback {
    padding: 5rem 0;

    background-color: #f7e7e6;
  }

  .feedback .main-next-btn {
    position: absolute;
    top: 50%;
    right: -1rem;

    transform: translateY(-50%);
  }

  .feedback .main-prev-btn {
    position: absolute;
    top: 50%;
    left: -1rem;

    transform: translateY(-50%);
  }

  .often-questions {
    padding: 6rem 0 4rem;
  }

  .often-questions h2 {
    margin-bottom: 3rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .calc h2 {
    margin-bottom: 4rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  .calc select {
    margin: 0;
    padding: 1rem;

    font-family: 'Circe Extra Bold', sans-serif;
    font-size: 1.9rem;

    border: none;
    opacity: 0.6;

    appearance: none;
  }

  .calc-price {
    z-index: -1000;

    margin-top: 2rem;
    padding: 4rem 7.5rem;

    text-align: center;

    background-color: #f7e7e6;
  }

  .popup-consultation .button-order,
  .popup-design .button-order {
    font-size: 1.3rem;
  }

  .popup-consultation .button-transparent,
  .popup-design .button-transparent {
    font-size: 1.2rem;
  }

  .popup-consultation .button-transparent::before,
  .popup-design .button-transparent::before {
    margin-right: 0;

    background: url('../img/reload.svg') no-repeat center;
    background-size: 100%;
  }

  .popup-content {
    width: 25rem;
    padding: 3rem;

    text-align: center;

    background-color: #ededed;
    border-radius: 4px;

    transform: translateX(-50%);
  }
}
